.Screen {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--bg-color-screen);
}

.Container {
  width: 100%;
  padding: var(--size-spacing-lg);
  padding-bottom: var(--size-spacing-xxl);
  background-color: var(--bg-color-cutout);
  @media(min-width: 640px) {
    min-width: var(--min-screen-width);
    max-width: var(--max-screen-width);
    width: auto;
  }
}
