.ImageDisplay {
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
}

.ImageDisplay img {
  max-width: 100%;
  margin: 0 auto;
}

.ImageDisplay .DeleteButton {
  padding: var(--size-spacing-sm);
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
