.CheckboxIndicator {
  --bg-color: var(--bg-color-cutout);
  --color: var(--border-color-pressable);
}

.CheckboxIndicator[data-checked='true'] {
  --bg-color: var(--border-color-pressable);
  --color: var(--bg-color-cutout);
}

.CheckboxIndicator > rect {
  fill: var(--bg-color);
  stroke: var(--color);
  stroke-width: var(--size-border-xl);
}

.CheckboxIndicator > path {
  fill: var(--text-color-inverse);
}

.CheckboxIndicator > line {
  stroke: var(--border-color-pressable);
  stroke-width: var(--size-border-lg);
}
